        <div class="row">
          <div class="span4">
            <p class="lead">
              At this stage of development, we don't have a custom interface for interacting with Alpha Zeta Eta's event calendar. Until that's finished, here is a link to the Google Calendar page:
              
            </p>
            <p><a href="https://www.google.com/calendar/embed?src=apo.uaa%40gmail.com&amp;ctz=America%2FAnchorage" class="btn btn-primary btn-large">
              <i class="icon-calendar icon-white"></i>
              Event Calendar
            </a></p>
          </div>

          <div class="span7 offset1">
            <p class="muted">We also have a special event coming up:</p>

            <h2>2013 Sectional Conference</h2>
            <p>Get ready for the 2013 APO Section 8 conference our chapter is hosting in Anchorage, Alaska!</p>
            <ul>
              <li><a href="conference#registration">Registration</a></li>
              <li><a href="conference#activities">Activities</a></li>
              <li><a href="conference#pricing">Pricing</a></li>
            </ul>
            <p><a class="btn" href="conference">View details &raquo;</a></p>
          </div>
        </div>