<h2 id="apo">Alpha Phi Omega</h2>

<p class="lead">Alpha Phi Omega National Service Fraternity has more than 17,000 male and female student members at 361 college campuses nationwide. Its mission is to prepare campus and community leaders through service. Its purpose is to develop leadership, to promote friendship and to provide service to humanity. Founded at Lafayette College in Easton Pennsylvania in 1925, Alpha Phi Omega is a 501(c)(3) not-for-profit organization headquartered in Independence, Missouri. More than 350,000 members have joined Alpha Phi Omega since it's founding.</p>

<h3>Cardinal Principles</h3>

<div class="row">
  <div class="span4">
    <h4>Leadership</h4>
    <p>We attend and hold leadership workshops. Some of our workshops are held at conferences in our Section, Region, and with everyone at Nationals. Section 8, the section our state belongs to, had their Sectional Conference on April 22 at Seattle University in Seattle, Washington where three of our members flew down to attend. Some of our current members have attend conferences at University of Washington, Gamma Alpha Chapter, and University of Alaska Fairbanks, Nu Omega. Recently four of our current members attended Alpha Phi Omega's 2006 National Convention which was held in Louisville, Kentucky. In Louisville Brothers participated in workshops and the legislative floor.</p>
  </div>
  <div class="span4">
    <h4>Friendship</h4>
    <p>We build friendships that last a lifetime. Our past fellowships include attending an Ace's Hockey Game (an interfellowship with Nu Omega - UAF!), attending UAA hockey games, getting coffee at Starbucks, watching movies at Beartooth Theatre, bowling, scrapbooking party, having lunch at Sagaya, having dinner at one of the brother's homes and going to Eugene, Oregon to attend University of Oregon's "Oregon Trail" fellowship.</p>
  </div>
  <div class="span4">
    <h4>Service</h4>
    <p>We provide service to the Fraternity, Campus, Community, and to the Nation. Since October 2005, we have participated in various service projects such as making St. Patrick's Day cards to the Pioneer's Home residents, dressing up as Critters at the Trick or Treat Town, Trick or Treat for UNICEF, helped low-income families pick out Christmas presents during the GIFT Program, Habitat for Humanity, Special Olympics Fall Games, read to Kindergartners on Dr. Seuss's Birthday, and serve as volunteer judges at the Klatt Elementary School Science Fair.</p>
  </div>
</div>

<h2 id="azh">Chapter History</h2>

<p>Alpha Phi Omega on the University of Alaska Anchorage (UAA) campus began Fall 2003 when student Mandy Yan  returned from her National Student Exchange at San Jose State University where she had pledged for Alpha Phi Omega - Gamma Beta chapter. The group at UAA began with three members, Ryan Riddle, Sydia Garcia, and Mandy Yan, but lost activity after Spring 2004 due to members graduating, moving away, or attending a semester-at-sea exchange program.</p>

<p>Alpha Phi Omega interest on campus began again Fall 2005 with the help of student Kyle Worrell and Mandy Yan, who now serves as the Alumni Sponsor Advisor for the UAA organization and as Alpha Phi Omega Section 8 Chair.</p>

<p>Through recruitment, our organization has met the Petitioning Requirements and had our ceremony Friday, April 14th, 2006. On November 11, 2006, with 18 members and three advisors, Alpha Zeta Eta was chartered here at the University of Alaska Anchorage. The activation ceremony was conducted by Gamma Beta of San Jose State, Epsilon Alumnus, Section 8 Chair, Region XI Membership Ext. Chair, Region XI Director, Membership & Ext. Director, and the National President. A celebration was held later that evening where the Charter was presented to the University, accepted by Associate Director of the Honors Program.</p>

<p class="muted">[TODO: Fill in history since 2006, List chapter awards]</p>

<h2 id="docs">Documents</h2>
<div class="row">
  <div class="span4">
    <h3><a href="bylaws">Chapter Bylaws</a></h3>
    <ul>
      <li><a href="/bylaws#name">Name</a></li>
      <li><a href="/bylaws#purpose">Purpose</a></li>
      <li><a href="/bylaws#membership">Membership</a></li>
      <li><a href="/bylaws#officers">Officers and Delagates</a></li>
      <li><a href="/bylaws#duties">Duties of Officers</a></li>
      <li><a href="/bylaws#advisors">Advisors</a></li>
      <li><a href="/bylaws#committees">Committees</a></li>
      <li><a href="/bylaws#business">Meetings and Chapter Business</a></li>
      <li><a href="/bylaws#elections">Elections</a></li>
      <li><a href="/bylaws#finance">Finance and Property</a></li>
      <li><a href="/bylaws#authority">Parliamentary Authority</a></li>
      <li><a href="/bylaws#discipline">Discipline</a></li>
      <li><a href="/bylaws#policies">Policies</a></li>
      <li><a href="/bylaws#amendments">Amendments</a></li>
      <li><a href="/bylaws#ratification">Ratification</a></li>
    </ul>
  </div>
  <div class="span4">
    <p class="muted">TODO:</p>
    <ul class="muted">
      <li>National Bylaws</li>
      <li>National Risk Management Policy</li>
    </ul>
  </div>
</div>