<div class="row">
  <div class="span4">
    <h2>Table of Contents</h2>
    <ul>
      <li><a href="#name">Article I - Name</a></li>
      <li><a href="#purpose">Article II - Purpose</a></li>
      <li><a href="#membership">Article III - Membership</a></li>
      <li><a href="#officers">Article IV - Officers and Delagates</a></li>
      <li><a href="#duties">Article V - Duties of Officers</a></li>
      <li><a href="#advisors">Article VI - Advisors</a></li>
      <li><a href="#committees">Article VII - Committees</a></li>
      <li><a href="#business">Article VIII - Meetings and Chapter Business</a></li>
      <li><a href="#elections">Article IX - Elections</a></li>
      <li><a href="#finance">Article X - Finance and Property</a></li>
      <li><a href="#authority">Article XI - Parliamentary Authority</a></li>
      <li><a href="#discipline">Article XII - Discipline</a></li>
      <li><a href="#policies">Article XIII - Policies</a></li>
      <li><a href="#amendments">Article XIV - Amendments</a></li>
      <li><a href="#ratification">Article XV - Ratification</a></li>
    </ul>
  </div>

  <div class="span4">
    <img src="/assets/crest-med.png" alt="APO Crest" />
  </div>

  <div class="span4">
    <div class="alert alert-info">
      <strong>Please Note:</strong>
      Our bylaws are in the process of being reviewed and will likely be amended this coming semester.
    </div>
  </div>
</div>

<h3 id="name">ARTICLE I – NAME <a href="#"><i class="icon-chevron-up"></i></a></h3>
<div class="section">
  The name of this organization is the UNIVERSITY OF ALASKA ANCHORAGE ALPHA ZETA ETA CHAPTER of Alpha Phi Omega.
</div>
 
<h3 id="purpose">ARTICLE II - PURPOSE <a href="#"><i class="icon-chevron-up"></i></a></h3>
<div class="section">
  This chapter shall be conducted as a Service Fraternity under the policies, principles, and provisions set forth in the National Articles of Incorporation, National Bylaws, Standard Chapter Articles of Association and related policies of Alpha Phi Omega (referred to as "the Fraternity").
</div>

<h3 id="membership">ARTICLE III - MEMBERSHIP <a href="#"><i class="icon-chevron-up"></i></a></h3>
<div class="section">
  <h5>SECTION 1 - ANTI-DISCRIMINATION POLICY.</h5> 
  <div class="section">
    Membership in Alpha Phi Omega is open to all, and be open without regard to race, color, religion, national origin, sex, age Vietnam era or disabled veteran status, sexual orientation, physical and mental ability, changes in marital status, pregnancy or parenthood.
  </div>

  <h5>SECTION 2 - OPEN MEMBERSHIP.</h5>
  <div class="section">
    Application for membership shall be open to all students in accordance with the organizational and human rights policies of the University of Alaska Anchorage, irrespective of course of study, or other fraternal organization.  All members of Alpha Phi Omega must be current UAA fee-paying students, enrolled in a minimum of three credit hours and in good academic standings at UAA.
  </div>

  <h5>SECTION 3 - NEOPHYTE MEMBERSHIP.</h5>
  <div class="section">
    A Neophyte is an enrolled student member in good-standing, who seeks active membership and who has been installed by the chapter as a Neophyte in accordance with the National Bylaws of Alpha Phi Omega.
  </div>

  <h5>SECTION 4 - ACTIVE MEMBERSHIP.</h5>
  <div class="section">
    An Active Member (Active) is an enrolled student member in good-standing, who has successfully completed a membership education program, who is in good standing with the Fraternity and who has paid applicable dues for current academic term.
  </div>

  <h5>SECTION 5 - INACTIVE MEMBER.</h5>
  <div class="section">
    Any otherwise-qualified Active Member who fails to maintain said membership either by non-payment of dues or other non-compliance with requirements for membership, shall be declared an Inactive Member, having no rights or privileges within the chapter.  Inactive Members may regain Active status by payment of applicable dues for the current term and fulfillment of any outstanding financial or material obligations to the Fraternity and chapter.
  </div>

  <h5>SECTION 6 - ALUMNI MEMBERSHIP.</h5>  
  <div class="section">
    Any Active, or Inactive Member shall become an Alumni Member upon completion of an undergraduate degree or disenrollment from the University of Alaska Anchorage.  Alumni members shall be granted non-voting rights of and privileges of active membership, in accordance with chapter policy.
  </div>

  <h5>SECTION 7 - ADVISORY MEMBERSHIP.</h5>
  <div class="section">
    Advisory Membership, with all non-voting rights and privileges of Active Membership, may be conferred upon an individual meeting the Fraternity's requirements for Advisors and receiving a two-thirds affirmative vote of active members present and voting at a regular meeting.
  </div>

  <h5>SECTION 8 - HONORARY MEMBERSHIP.</h5>
  <div class="section">
    Honorary Membership shall be granted to individuals having given great support or service to the principles of Leadership, Friendship and Service.  Selection of Honorary Members shall require at least a two-thirds affirmative vote of active members present and voting at a regular chapter meeting and shall be in accordance with the National Bylaws.
  </div>

  <h5>SECTION 9 - VISITING BROTHERS.</h5>
  <div class="section">
    All Brothers of the National Fraternity who are not local residents and are not otherwise affiliated with this chapter or the University of Alaska Anchorage shall be accorded all rights and privileges of a non-voting Active member.
  </div>

  <h5>SECTION 10 - TRANSFER OF MEMBERSHIP.</h5>
  <div class="section">
    Any enrolled student at UAA who is a registered member of another chapter of Alpha Phi Omega, in good standing with the Fraternity and who is otherwise qualified for Active Membership in this chapter may be accepted for Active Membership in accordance with the National Bylaws. Membership may be conferred by a majority vote of the Active Members present and voting at a regular chapter meeting.  Said membership shall be contingent upon successful completion of an orientation period as defined by chapter policy, not to exceed activation requirements for membership as defined in the chapter Membership Education program.
  </div>
</div>

<h3 id="officers">ARTICLE IV - OFFICERS AND DELEGATES <a href="#"><i class="icon-chevron-up"></i></a></h3>
<div class="section">
  <h5>SECTION 1 - ELECTED OFFICERS.</h5>
  <div class="section">
    The elected officers of this chapter shall be: President, Vice-President of Membership, Vice-President of Service, Vice-President of Fellowship, Treasurer, Sergeant-at-Arms, Secretary, Historian, and Club Council Representative.
  </div>

  <h5>SECTION 2 - EXECUTIVE COMMITTEE.</h5>
  <div class="section">
    The Executive Committee shall be comprised of the elected officers of this chapter.  The Chairman of the Advisory Committee shall also serve as a non-voting member of the committee, as will be the immediate Past-President of the chapter if not otherwise holding an elected chapter office.
  </div>

  <h5>SECTION 3 - APPOINTED OFFICERS.</h5>
  <div class="section">
    Appointed officers shall be appointed by the President and confirmed by a vote of the Executive Committee.  Appointed officers may include, but not be limited to: Membership Education Officer, Advisor Liaison, Alumni Secretary, Public Relations Coordinator and Newsletter Editor.  Duties of appointed officers will be documented as written chapter policy and must be approved prior to the time of appointment.
  </div>

  <h5>SECTION 4 - TERM OF OFFICE.</h5>
  <div class="section">
    The standard term of office shall be approximately one calendar year, from the first day of the summer academic term to the last day prior to the start next summer term.  Appointed officers may serve terms of office to be no longer than the standard term of office, as defined at the time of appointment.
  </div>

  <h5>SECTION 5 - CONSECUTIVE TERMS OF OFFICE.</h5>
  <div class="section">
    Elected officers may succeed themselves only once in the same position, but may hold more than one office in succession.
  </div>

  <h5>SECTION 6 - QUALIFICATIONS.</h5>
  <div class="section">
    An elected officer must be an Active Member in good standing for one full fall or spring semester immediately prior to beginning term of office, at the time of election to office, and during their entire term of office.  Appointed officers must be Active Members in good standing at the time of appointment and during their entire term of office.
  </div>

  <h5>SECTION 7 - VACANCIES OF OFFICE.</h5>
  <div class="section">
    In case of removal or resignation of any chapter officer, or the failure of an officer to remain otherwise qualified for office, the chapter shall elect a replacement to complete the term of office.  Said election and subsequent installation shall take place at the first regular chapter meeting following the announcement of the vacancy at a regular chapter meeting.  With the exception of Executive Committee membership, the Chapter President may appoint a member or members to carry out the duties and responsibilities of the office as needed prior to the election and installation of a replacement.
  </div>

  <h5>SECTION 8 - INSTALLATION OF OFFICERS.</h5>
  <div class="section">
    Officers shall be installed as near as practicable to the beginning of their term of office.  The installation ceremony shall be conducted as prescribed by the official ceremony handbook of the National Fraternity.
  </div>

  <h5>SECTION 9 - CHAPTER DELEGATES.</h5>
  <div class="section">
    The chapter may elect voting delegates to represent the chapter at National Conventions and other representative bodies of this Fraternity as entitled.  Elections shall be held according to chapter policy.
  </div>

  <h5>SECTION 10 - EX-OFFICIO MEMBERS.</h5>
  <div class="section">
    <strong>Membership Retention Coordinator</strong>
    <p>Serves as an ex-officio member of the Executive Committee during his/her term in office.</p>
    <strong>Pledge Master</strong>
    <p>Serves as an ex-officio member of the Executive Committee during his/her term in office.</p>
    <p class="muted">***Note***  This status gives the Pledge Master and the Membership Coordinator the ability to: Sit on the Executive Committee and have voting privileges only during their term in office.</p>
  </div>
</div>

<h3 id="duties">ARTICLE V - DUTIES OF OFFICERS <a href="#"><i class="icon-chevron-up"></i></a></h3>
<div class="section">
  <h5>SECTION 1 - PRESIDENT.</h5>
  <div class="section">
    The President shall:
    <ol type="A">
      <li>Serve as the presiding officer at all chapter meetings and at meetings of the Executive Committee.</li>
      <li>Create, post and distribute weekly agendas.</li>
      <li>Oversee and coordinate the functions of all chapter officers and committees.</li>
      <li>Appoint such committees as are necessary to carry out the program of the chapter.</li>
      <li>Serve as an ex-officio member of all committees, including the Advisory Committee.</li>
      <li>Plan and carry out leadership development activities for the benefit of the Executive Committee and the chapter as a whole.</li>
      <li>Ensure that the chapter operates in conformity with the principles set forth in the National Bylaws, Standard Chapter Articles of Association, Risk Management and Membership Policies, the rules and regulations of the University of Alaska Anchorage and these Bylaws.</li>
      <li>Complete reports as required by UAA Club Council, the University and the Club Advisor(s).</li>
      <li>Serve as the spokesperson for the chapter.</li>
    </ol>
  </div>

  <h5>SECTION 2 - VICE-PRESIDENT OF MEMBERSHIP.</h5>
  <div class="section">
    The Vice-President of Membership shall:
   <ol type="A">
      <li>Be the Chair of the Membership Committee, coordinate the planning and successful execution of the membership and membership education programs of the chapter.</li>
      <li>Ensure the proper and timely registration of all Active, Pre-Member, Advisory, Alumni Honorary Members of this chapter with the National Office.</li>
      <li>Maintain an accurate record of all past and present members of this chapter.</li>
      <li>Keep accurate and updated roster of all participants in the club that includes such information as name of member, any position held, phone numbers, addresses, e-mail address and birth date.</li>
      <li>Ensure that the chapter operates in conformity with the principles set forth in the National Bylaws, Standard Chapter Articles of Association, Risk Management and Membership Policies, the rules and regulations of the University of Alaska Anchorage and these Bylaws.</li>
      <li>Perform all presidential functions in the absence of the President.</li>
    </ol>
  </div>

  <h5>SECTION 3 - VICE-PRESIDENT OF SERVICE.</h5>
  <div class="section">
    The Vice-President of Service shall:
    <ol type="A">
      <li>Be the Chair of the Service Committee, coordinate the planning and successful execution of the service program of the chapter.</li>
      <li>Keep track of all Service hours for all Active Members and Pledges.</li>
      <li>Ensure that all four fields of service are covered throughout the semester; Service to the Campus, Service to the Community, Service to the Nation, Service to the Fraternity.</li>
      <li>Perform all presidential functions in the temporary absence of the President and Vice-President of Membership.</li>
    </ol>
  </div>

  <h5>SECTION 4 - VICE-PRESIDENT OF FELLOWSHIP.</h5>
  <div class="section">
    The Vice-President of Fellowship shall:
    <ol type="A">
      <li>Be the Chair of the Fellowship Committee, coordinate the planning and successful execution of the fellowship program of the chapter.</li>
      <li>Keep track of all fellowship events for all Active Members and Pledges.</li>
      <li>Perform all presidential functions in the temporary absence of the President, Vice-President of Service and the Vice-President of Membership.</li>
    </ol>
  </div>

  <h5>SECTION 5 - TREASURER.</h5>
  <div class="section">
    The Treasurer shall:
    <ol type="A">
      <li>Receive and disburse the funds of the chapter in prudent manner, as authorized by these bylaws and the Executive Committee.  These funds shall include any and all monies collected by the chapter on behalf of third-party organizations through the auspices of the chapter's service program.</li>
      <li>Collect and transmit to the National Office all dues and fees as prescribed by the Fraternity.</li>
      <li>Develop the chapter budget for approval by the general chapter membership, and strive to ensure that the budget is followed.</li>
      <li>Ensure that all financial forms and reports prescribed by the Fraternity and by federal, state, and educational institution regulations are filed as required.</li>
      <li>Coordinate the planning and execution of all fundraising activities of the chapter.</li>
      <li>Maintain an accurate record of all chapter transactions and report on the chapter's financial status at the first regular chapter meeting of each month in which school is in session.  Prior to leaving office, the Treasurer shall complete an audit of the chapter's financial records and make a complete report to the Executive Committee, the Advisory Committee and the incoming Treasurer.</li>
      <li>Follow all accounting and purchasing policies, procedures, and regulations of UAA will be followed.</li> 
      <li>Maintain the chapter funds in a University Account.</li>
    </ol>
  </div>

  <h5>SECTION 6 - SERGEANT-AT-ARMS.</h5>
  <div class="section">
    The Sergeant-At-Arms shall:
    <ol type="A">
      <li>Perform such disciplinary and parliamentary procedures as are appropriate and in accordance with these bylaws and Roberts Rules of Order.</li>
      <li>Maintain the ritual materials and other chapter properties.</li>
      Receive nominations and related motions related to chapter elections
      <li>Prepare, distribute, and collect ballots at chapter elections.</li>
      <li>Function as parliamentarian of the chapter.</li>
      <li>Maintain and distribute as necessary copies of these bylaws, written chapter policies and other governing documents of the Fraternity.</li>
    </ol>
  </div>

  <h5>SECTION 7 - SECRETARY.</h5>
  <div class="section">
    The Secretary shall:
    <ol type="A">
      <li>Create and distribute accurate records of general chapter meetings and Executive Committee meetings (Minutes).</li>
      <li>Carry on all necessary correspondence on behalf of the chapter.</li>
      <li>Create a calendar for each month, which would include the dates of events and birthdays.</li>
      <li>Keep track of the attendance of all Active Members and Pledges during meetings.</li>
    </ol>
  </div>

  <h5>SECTION 8 - HISTORIAN.</h5>
  <div class="section">
    The Historian shall:
    <ol type="A">
      <li>Perpetuate and maintain chapter traditions.</li>
      <li>Maintain a visual chapter history, such as a scrapbook.</li>
      <li>Maintain of complete chapter administrative history, such as minutes of meetings, project reports, and treasurer’s records.</li>
      <li>Purchase and circulate Thank You Cards and Birthday Cards.</li>
      <li>Create and maintain a chapter composite yearly.</li>
    </ol>
  </div>

  <h5>SECTION 9 – CLUB COUNCIL REPRESENTATIVE.</h5>
  <div class="section">
    The Club Council Representative shall:
    <ol type="A">
      <li>Attend Club Council Meetings (bi-weekly) and cast votes in the interests of Alpha Phi Omega.</li>
      <li>Serve as the voice of Alpha Zeta Eta chapter at Club Council Meetings.</li>
      <li>Perform all club council related activities.</li>
      <li>Report to active members on Club Council activities.</li>
      <li>Coordinate with Alpha Phi Omega commitments to Club Council Meetings.</li>
    </ol>
  </div>

  <h5>SECTION 10 - PUBLIC RELATIONS.</h5>
  <div class="section">
    The Public Relations officer shall:
    <ol type="A">
      <li>Decide on a day for all members to wear their Alpha Phi Omega letters (Pride Day).</li>
      <li>Maintain and update the chapter website and calendar.</li>
      <li>Ensure that the chapter website is linked with the college, section, region, and national website, with up-to-date information on the chapter, including past and future events and pictures if possible.</li>
      <li>Post up flyers and banners throughout the university to advertise on Alpha Phi Omega and upcoming events.</li>
      <li>Promote Alpha Phi Omega and upcoming events in The Green and Gold Daily, Northern Lights and the KRUA.</li>
      Maintain, create and distribute the chapter/alumni newsletter
    </ol>
  </div>
</div>

<h3 id="advisors">ARTICLE VI - ADVISORS <a href="#"><i class="icon-chevron-up"></i></a></h3>
<div class="section">
  <h5>SECTION 1 - ADVISORY COMMITTEE.</h5>
  <div class="section">
    The Advisory Committee of this chapter shall consist of one or more Scouting Advisors, three or more Advisors from the faculty or staff of the educational institution and other Advisors as elected by the chapter.
  </div>

  <h5>SECTION 2 - ADVISORY COMMITEE CHAIR.</h5>
  <div class="section">
    The Advisory Committee Chair shall be selected by the members of the Advisory Committee following annual chapter elections, with approval of the Executive Committee.
  </div>

  <h5>SECTION 3 - SELECTION PROCEDURE.</h5>
  <div class="section">
    Advisors shall be elected by the chapter for a term of office of one academic year as defined in Article IV, Section 3.  Election shall be by a two-thirds vote of the Active members present and voting during the regular chapter meeting at which annual elections are held.  Advisors shall be eligible for an unlimited number of terms.
  </div>

  <h5>SECTION 4 - DUTIES AND PRIVILEGES.</h5>
  <div class="section">
    Advisors shall:
    <ol type="A">
      <li>Encourage the development of high fraternal and scholastic standards.</li>
      <li>Assist the chapter in planning and carrying out its various programs and initiations.</li>
      <li>Help to ensure that all events and activities are conducted in adherence with chapter, school and Fraternity risk management policies and procedures, and that all members are aware of said policies and procedures.</li>
      <li>Have all privileges of chapter membership except those of voting and holding elected chapter office unless otherwise specified in these Bylaws.</li>
    </ol>
  </div>
</div>

<h3 id="committees">ARTICLE VII - COMMITTEES <a href="#"><i class="icon-chevron-up"></i></a></h3>
<div class="section">
  <h5>SECTION 1 - STANDING AND SPECIAL COMMITTEES.</h5>
  <div class="section">
    The standing committees of this chapter shall be the Executive Committee and the Advisory Committee.  Additional or "special" committees may be established and their chairs may be appointed by the President with the approval of the Executive Committee.  Unless otherwise defined in these bylaws or at the time of the committee's creation, the members of a committee shall be appointed by the President based upon the recommendation of the chair.
  </div>

  <h5>SECTION 2 - EXECUTIVE COMMITTEE.</h5>
  <div class="section">
    <p>The Executive Committee shall meet a minimum of twice per month during the regular school year.  Special meetings of the Executive Committee may be held at the discretion of the chapter President, or upon the written request of a majority of the members of the Executive Committee.</p>
    <p>The Executive Committee meetings shall be open to the general chapter membership unless closed at the discretion of the Chapter President or the Advisory Chair.  The decision of the Chapter President or Advisory Chair may be overturned by a majority vote of the Executive Committee.</p>
    <p>The Executive Committee shall be responsible for formulating a budgeted chapter program at the beginning of each academic year, subject to approval by a simple majority of the Active Members present and voting at a regular chapter meeting.  This program shall include a tentative outline of the chapter activities for the next twelve months, and shall be subject to revision and review at the beginning of each term.</p>
  </div>

  <h5>SECTION 3 - ADVISORY COMMITTEE.</h5>
  <div class="section">
    The Advisory Committee shall:
    <ol type="A">
      <li>Meet once per month during the school year.  At each meeting the Chapter President will give a report on the state of the chapter and the Advisory Committee may discuss chapter activities, make recommendations and invite any chapter member or non-member to make specific reports to the Advisory Committee.</li>
      <li>Serve as a chapter resource for leadership, planning, and execution of special projects.</li>
    </ol>
  </div>
</div>

<h3 id="business">ARTICLE VIII - MEETINGS AND CHAPTER BUSINESS <a href="#"><i class="icon-chevron-up"></i></a></h3>
<div class="section">
  <h5>SECTION 1 - REGULAR MEETINGS.</h5>
  <div class="section">
    This chapter shall hold weekly meetings during the academic term except when holidays, examination periods, or other events make said meetings impractical in the judgment of the Executive Committee.
  </div>

  <h5>SECTION 2 - SPECIAL MEETINGS.</h5>
  <div class="section">
    Special chapter meetings shall be held upon the written request of one-third of the Active members or at the discretion of the President or the Executive Committee.  Adequate notice, to be given not less than 24 hours in advance of such meetings shall be provided to the chapter members.
  </div>

  <h5>SECTION 3 - QUORUM.</h5>
  <div class="section">
    Quorum shall consist of any fraction over two-fifths of the Active membership and shall be assumed present unless challenged.  For elections, quorum shall be any fraction above fifty percent of the Active membership.
  </div>

  <h5>SECTION 4 - VOTING.</h5>
  <div class="section">
    Only Active members shall be allowed to vote in meetings of this chapter.  No proxy or absentee voting will be allowed in matters of regular chapter business.
  </div>

  <h5>SECTION 5 - MAJORITY.</h5>
  <div class="section">
    Unless otherwise noted in these bylaws or the prescribed parliamentary authority of the chapter, a simple majority (fifty percent plus one of the members present and voting) shall be required to pass any motion or resolution.
  </div>

  <h5>SECTION 6 - MATERIAL CHAPTER BUSINESS.</h5>
  <div class="section">
    <p>"Material Chapter Business" shall be defined as any item of business which includes or implies a financial transaction of greater than $50 (fifty dollars).</p>
  <p>All material chapter business must have consent of the Executive Committee.</p>
  <p>Any material business not receiving the consent of the Executive Committee may be enacted by a two-thirds majority of the voting Active members at a chapter meeting.</p>
  </div>

  <h5>SECTION 7 - EXECUTIVE COMMITTEE AUTHORITY.</h5>
  <div class="section">
    <p>The Executive Committee may take action on any matter if a quorum is challenged and not achieved at two consecutive chapter meetings.</p>
    <p>The Executive Committee may act in a timely manner on any matters it deems expedient to the operations of chapter, subject to the review of Active members at a subsequent chapter meeting.</p>
  </div>
</div>

<h3 id="elections">ARTICLE IX - ELECTIONS <a href="#"><i class="icon-chevron-up"></i></a></h3>
<div class="section">
  <h5>SECTION 1 - NOMINATIONS.</h5>
  <div class="section">
    Nominations for chapter officers shall be opened one week prior to the election and permitted until the time of election.  Nominations and seconds made outside of a chapter meeting shall submitted in writing to the Sergeant-at-Arms and announced prior to the election.  A person may not be nominated for more than one office at one time; however, unsuccessful candidates may be nominated to subsequent positions throughout the election process.
  </div>

  <h5>SECTION 2 - ORDER OF ELECTION.</h5>
  <div class="section">
    The election of officers shall proceed in the order in which the offices are listed in Article IV, Section 1 of these Bylaws.
  </div>

  <h5>SECTION 3 - SECRET BALLOT.</h5>
  <div class="section">
    All elections for which more than one person has been nominated shall be by conducted by secret ballot.
  </div>

  <h5>SECTION 4 - ELECTION PROCEDURE.</h5>
  <div class="section">
    The President shall serve as chairperson for any and all elections and will be responsible for the integrity of said elections.  The Sergeant-At-Arms shall prepare, distribute, and collect all ballots and deliver them to a member of the Advisory Committee for counting. The Advisor shall count the ballots and announce the name of the person elected.  The number of votes received by each nominee shall be made available on request, but shall not be publicly announced.
  </div>

  <h5>SECTION 5 - ABSENTEE BALLOTS.</h5>
  <div class="section">
    Absentee ballots shall be submitted in a sealed, identifiable envelope to the Sergeant-at-Arms who is responsible for the integrity of said ballots.
  </div>

  <h5>SECTION 6 - REQUIRED MAJORITY.</h5>
  <div class="section">
    The office of President shall be granted to the nominee receiving any fraction over fifty percent of all votes cast.  In the event that no nominee receives the necessary number of votes, the nominee with the least number of votes shall be dropped from the ballot and the voting process shall be repeated.  Unless otherwise noted, all other elections shall require simple majority.
  </div>

  <h5>SECTION 7 - TIME AND PLACE.</h5>
  <div class="section">
    The time and place of annual and special elections shall be announced no less that two weeks in advance.  Annual elections shall take place no less than four weeks prior to the end of the spring term.
  </div>
</div>

<h3 id="finance">ARTICLE X - FINANCE AND PROPERTY. <a href="#"><i class="icon-chevron-up"></i></a></h3>
<div class="section">
  <h5>SECTION 1 - DUES AND FEES.</h5>
  <div class="section">
    This chapter may establish reasonable dues and fees in addition to those established by the National Fraternity.  The amounts of all dues and fees shall be established as written policies of this chapter.
  </div>

  <h5>SECTION 2 - CHAPTER EXPENDITURES.</h5>
  <div class="section">
    This chapter shall follow the budget plan in control of its financial activities. A budget shall be developed for each regular academic term, with the excepting of the summer term.  The budget for each term shall be approved by a majority of the Active members present and voting at a chapter meeting no later than the third week of the academic term.
  </div>
</div>

<h3 id="authority">ARTICLE XI - PARLIAMENTARY AUTHORITY <a href="#"><i class="icon-chevron-up"></i></a></h3>
<div class="section">
  When meeting procedure is questioned, the latest edition of Robert's Rules of Order shall govern all meetings of this chapter, in all cases to which they are applicable and in which they are not inconsistent with these Bylaws, the policies of this chapter or those of the Fraternity.
</div>

<h3 id="discipline">ARTICLE XII - DISCIPLINE <a href="#"><i class="icon-chevron-up"></i></a></h3>
<div class="section">
  <h5>SECTION 1 - SUSPENSION AND REMOVAL.</h5>
  <div class="section">
    This chapter shall have the power to suspend any member or to remove any officer with just cause.  "Just cause" may include, but not be limited to, financial or personal misconduct, misrepresentation of the chapter, behavior deemed to be injurious to the chapter, the Fraternity, or any individual.
  </div>

  <h5>SECTION 2 - DUE PROCESS.</h5>
  <div class="section">
    <p>Charges against any member shall be presented to the Executive Committee at least seven days prior to consideration by the chapter. The member charged shall have the opportunity to speak before the Executive Committee and the chapter before final recommendations or rulings are made.</p>
    <p>If the member charged is a member of the Executive Committee, the member charged may not participate in the deliberations of the Executive Committee regarding the charges. The Executive Committee shall make a report of its findings to the chapter prior to the consideration of charges by the chapter.</p>
  </div>

  <h5>SECTION 3 - VOTE REQUIRED.</h5>
  <div class="section">
    A two-thirds vote of the Active members present and voting at a regular chapter meeting is required for suspension of a member or removal of an officer.
  </div>
</div>

<h3 id="policies">ARTICLE XIII - POLICIES <a href="#"><i class="icon-chevron-up"></i></a></h3>
<div class="section">
  <h5>SECTION 1 - AUTHORITY.</h5>
  <div class="section">
    This chapter may adopt such policies, rules and regulations not in conflict with these Bylaws, the rules and regulations of the University of Alaska Anchorage or the governing documents of the Fraternity as considered necessary.  Chapter policies shall be maintained in writing and in a single document or other repository which shall be made readily accessible to all interested parties, to include officials of the University of Alaska Anchorage, current and prospective members, and officers and other officials of the Fraternity.
  </div>

  <h5>SECTION 2 - ADOPTION PROCEDURE.</h5>
  <div class="section">
    Chapter policies may be adopted or amended by the Executive Committee and, if challenged, are subject to review by the general membership.  A simple majority is required to rescind any policy.
  </div>

  <h5>SECTION 3 - DURATION OF POLICIES.</h5>
  <div class="section">
    Chapter policies, once adopted, shall remain in effect until amended or otherwise modified.
  </div>

  <h5>SECTION 4 - REVIEW OF POLICIES.</h5>
  <div class="section">
    Each new Executive Committee member shall review policies pertaining to their duties and the general operation of the chapter at the beginning of their term of office.
  </div>
</div>

<h3 id="amendments">ARTICLE XIV - AMENDMENTS <a href="#"><i class="icon-chevron-up"></i></a></h3>
<div class="section">
  <h5>SECTION 1 - SUBMISSION.</h5>
  <div class="section">
    Amendments to these Bylaws must be submitted to the Executive Committee in writing and must contain signatures from one-fifth of all Active members.
  </div>

  <h5>SECTION 2 - DISTRIBUTION.</h5>
  <div class="section">
    Amendments shall be distributed and read at the first meeting following submission to the Executive Committee.
  </div>

  <h5>SECTION 3 - APPROVAL.</h5>
  <div class="section">
    A discussion and vote shall occur at the second meeting following submission to the Executive Committee.  Passage shall require an affirmative vote of two-thirds of the Active members present and voting at a regular chapter meeting.
  </div>
</div>

<h3 id="ratification">ARTICLE XV - RATIFICATION <a href="#"><i class="icon-chevron-up"></i></a></h3>
<div class="section">
  These Bylaws shall become effective upon an acceptance vote of two-thirds of the Active members present and voting at two consecutive chapter meetings.
</div>