<h2>Contact Information</h2>

<div class="row">
  <div class="span3">
    <h3>Email Address</h3>
    <address>
      <a class="btn btn-primary" href="mailto:apo.uaa@gmail.com">
        <i class="icon-envelope icon-white"></i>
        apo.uaa@gmail.com
      </a>
    </address>
  </div>

  <div class="span3">
    <h3>Mailing Address</h3>
    <address>
      <strong>Alpha Phi Omega -<br>
      Alpha Zeta Eta Chapter</strong><br>
      c/o UAA Club Council<br>
      3211 Providence Dr<br>
      Anchorage, AK 99508
    </address>
  </div>

  <div class="span3">
    <h3>Chapter Meetings</h3>
    <p><small class="muted">Spring 2013 Semester</small></p>
    7:00 pm Wednesdays<br>
    Rasmusson Hall, Room 220<br>
    UAA Campus
  </div>

  <div class="span3">
    <h3>Phone Number</h3>
    315-<strong>AZH-0611</strong> <span class="muted">(294-0611)</span><br><br>
    <object type="application/x-shockwave-flash" data="https://clients4.google.com/voice/embed/webCallButton" width="230" height="85"><param name="movie" value="https://clients4.google.com/voice/embed/webCallButton" /><param name="wmode" value="transparent" /><param name="FlashVars" value="id=619945cfc852442c9dab28fd696268906b59775b&style=0" /></object>
  </div>
</div>

<br><ul class="nav nav-list">
  <li class="divider"></li>
</ul><br>

<h2 id="members">Members in our Chapter</h2>

<div class="row">
  <div class="span8">
    <h3>Current and Past Officers</h3>

    <div class="tabbable tabs-left officer-static">

      <ul class="nav nav-tabs">
        <li class="active"><a href="#2013-14" data-toggle="tab">2013-2014</a></li>
        <li><a href="#2012-13" data-toggle="tab">2012-2013</a></li>
        <li><a href="#2011-12" data-toggle="tab">2011-2012</a></li>
        <li><a href="#2010-11" data-toggle="tab">2010-2011</a></li>
        <li><a href="#2009-10" data-toggle="tab">2009-2010</a></li>
        <li><a href="#2007-09" data-toggle="tab">2007-2009</a></li>
        <li><a href="#2006-07" data-toggle="tab">2006-2007</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="2013-14">
          <table class="table table-condensed table-hover">
            <thead>
              <tr><th>Position</th><th>Name</th></tr>
            </thead>
            <tr><td>President</td><td>Dawnielle Reichwein</td></tr>
            <tr><td>VP of Membership</td><td>Leslie Martinez</td></tr>
            <tr><td>VP of Service</td><td>Christina Soria</td></tr>
            <tr><td>VP of Fellowship</td><td>Stephanie Hsu</td></tr>
            <tr><td>Secretary</td><td>Sean Cahill</td></tr>
            <tr><td>Treasurer</td><td>Seen So</td></tr>
            <tr><td>Historian</td><td>Ana Saettone</td></tr>
            <tr><td>Club Council Rep</td><td>Seen So</td></tr>
            <tr><td>Sergeant at Arms</td><td>John Lamont</td></tr>
          </table>
        </div>

        <div class="tab-pane" id="2012-13">
          <table class="table table-condensed table-hover">
            <thead>
              <tr><th>Position</th><th>Name</th></tr>
            </thead>
            <tr><td>President</td><td>Waianae Kahananui</td></tr>
            <tr><td>VP of Membership</td><td>Dawnielle Matias</td></tr>
            <tr><td>VP of Service</td><td>Stephanie Hsu</td></tr>
            <tr><td>VP of Fellowship</td><td>Blaine Higashi</td></tr>
            <tr><td>Secretary</td><td>Janelle Sta Cruz</td></tr>
            <tr><td>Treasurer</td><td>Johnathon Beaumier</td></tr>
            <tr><td>Historian</td><td>George Kariuki <small class="muted">(Fall)</small>, Ana Saettone <small class="muted">(Spring)</small></td></tr>
            <tr><td>Club Council Rep</td><td>Seen So <small class="muted">(Fall)</small>, Johnathon Beaumier <small class="muted">(Spring)</small></td></tr>
            <tr><td>Sergeant at Arms</td><td>Janelle Sta Cruz <small class="muted">(Spring)</small></td></tr>
            <tr><td>Pledgemaster</td><td>Louie Perez</td></tr>
          </table>
        </div>

        <div class="tab-pane" id="2011-12">
          <table class="table table-condensed table-hover">
            <thead>
              <tr><th>Position</th><th>Name</th></tr>
            </thead>
            <tr><td>President</td><td>Louie Perez</td></tr>
            <tr><td>VP of Membership</td><td>Waianae Kahananui</td></tr>
            <tr><td>VP of Service</td><td>Johnathon Beaumier</td></tr>
            <tr><td>Secretary</td><td>Lena Petrova</td></tr>
            <tr><td>Treasurer</td><td>George Kariuki</td></tr>
            <tr><td>Historian</td><td>Janelle Sta Cruz</td></tr>
            <tr><td>Club Council Rep</td><td>Mary Lola</td></tr>
          </table>
        </div>

        <div class="tab-pane" id="2010-11">
          <table class="table table-condensed table-hover">
            <thead>
              <tr><th>Position</th><th>Name</th></tr>
            </thead>
            <tr><td>President</td><td>Katelyn Sonido</td></tr>
            <tr><td>VP of Membership</td><td>Kristine Sy</td></tr>
            <tr><td>VP of Service</td><td>Louie Perez</td></tr>
            <tr><td>Historian</td><td>Kristine Sy</td></tr>
            <tr><td>Club Council Rep</td><td>Paul Huske</td></tr>
            <tr><td>Pledge Master</td><td>Jose Saettone</td></tr>
          </table>
        </div>

        <div class="tab-pane" id="2009-10">
          <table class="table table-condensed table-hover">
            <thead>
              <tr><th>Position</th><th>Name</th></tr>
            </thead>
            <tr><td>President</td><td>Jennifer Stein</td></tr>
            <tr><td>VP of Membership</td><td>Katelyne Sonido</td></tr>
            <tr><td>VP of Service</td><td>Sheila Elano, Phillip Louie</td></tr>
            <tr><td>VP of Fellowship</td><td>Casey King</td></tr>
            <tr><td>Secretary</td><td>Charissa Hobbs</td></tr>
            <tr><td>Treasurer</td><td>Dawnielle Reichwein, Jose Saettone</td></tr>
            <tr><td>Historian</td><td>Kristine Sy</td></tr>
            <tr><td>Club Council Rep</td><td>Mary Lola, Jose Saettone</td></tr>
            <tr><td>Sergeant at Arms</td><td>Paul Huske, Alex Lomboy</td></tr>
            <tr><td>Pledgemaster</td><td>Katelyne Sonido, Nathan Cross</td></tr>
            <tr><td>Public Relations</td><td>Sheryl Saturnino</td></tr>
          </table>
        </div>

        <div class="tab-pane" id="2007-09">
          <div class="alert alert-info">
            <strong>Help us restore this missing piece of history!</strong><br><br>
            Let us know if you have any information not listed here.
          </div>
        </div>

        <div class="tab-pane" id="2006-07">
          <table class="table table-condensed table-hover">
            <thead>
              <tr><th>Position</th><th>Name</th></tr>
            </thead>
            <tr><td>President</td><td>Erin Koshiyama</td></tr>
            <tr><td>VP of Membership</td><td>Chris Lavarias</td></tr>
            <tr><td>VP of Service</td><td>Jonathan Weindel</td></tr>
            <tr><td>VP of Fellowship</td><td>John Laux</td></tr>
            <tr><td>Secretary</td><td>Casey King</td></tr>
            <tr><td>Treasurer</td><td>Sarah Roberson</td></tr>
            <tr><td>Historian</td><td>Renee Francisco</td></tr>
            <tr><td>Club Council Rep</td><td>Paul Huske</td></tr>
            <tr><td>Sergeant at Arms</td><td>Carl Carr-Johnson</td></tr>
            <tr><td>Public Relations</td><td>Joel Ainsworth</td></tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="span4">
    <h3>Active Members</h3>
    <ul class="inline">
      <li>Sean Cahill</li>
      <li>John Lamont</li>
      <li>Leslie Martinez</li>
      <li>Kasandra Miko-Saiki</li>
      <li>Ger Moua</li>
      <li>Annie Nguyen</li>
      <li>Lindsey Rau</li>
      <li>Dawnielle Reichwein</li>
      <li>Ana Saettone</li>
      <li>Seen So</li>
      <li>Sunny So</li>
      <li>Christina Soria</li>
      <li>Janelle Sta Cruz</li>
      <li>Seldovia Tadina</li>
      <li>Taccara Jones</li>
      <li>Tony Vang</li>
    </ul>

    <h3>Advisors</h3>
    <ul class="inline">
      <li>Lynda Hernandez</li>
      <li>Audrey Malone</li>
      <li>Jose Saettone</li>
      <li>Kristine Sy</li>
      <li>Mallory Wetherington</li>
    </ul>
  </div>
</div>


<h3>Alumni and Inactive Members</h3>
<ul class="inline">
  <li>Joel Ainsworth</li>
  <li>Cheyenne Alabanzas</li>
  <li>Rumar Arzadon</li>
  <li>Neil Barnack</li>
  <li>Johnathon Beaumier</li>
  <li>Eric Brinkman</li>
  <li>Carl Carr-Johnson</li>
  <li>Amy Chang</li>
  <li>Chris Chong</li>
  <li>Nathan Cross</li>
  <li>Adam Davis</li>
  <li>Krizelle Distor</li>
  <li>Jenny Di Grappa</li>
  <li>Miranda Dethmongkhonh</li>
  <li>Sheila Elano</li>
  <li>Jemi Flaviano</li>
  <li>Ginger Francisco</li>
  <li>Renee Francisco</li>
  <li>Lindsay Hall</li>
  <li>Sharlene Ham</li>
  <li>Blaine Higashi</li>
  <li>Charissa Hobbs</li>
  <li>Delayne Hoffman</li>
  <li>Paul Huske</li>
  <li>Dwayne Jones</li>
  <li>Waianae Kahananui</li>
  <li>George Kariuki</li>
  <li>Casey King</li>
  <li>Svetlana Koch</li>
  <li>Kali Korach</li>
  <li>Erin Koshiyama</li>
  <li>Jared Laurin</li>
  <li>John Laux</li>
  <li>Chris Lavarias</li>
  <li>Drew Lemish</li>
  <li>Mary Lola</li>
  <li>Alex Lomboy</li>
  <li>Phil Louie</li>
  <li>Brian Malone</li>
  <li>Charwin Mainot</li>
  <li>Chris McConnell</li>
  <li>Allison Murrell</li>
  <li>Martha Nacario</li>
  <li>Tien Peng</li>
  <li>Louie Perez</li>
  <li>Lena Petrova</li>
  <li>Stephanie Phillips</li>
  <li>Jenn Prickett</li>
  <li>Kori Radcliffe</li>
  <li>Richard Regacho</li>
  <li>Dawnielle Reichwein</li>
  <li>Sarah Roberson</li>
  <li>Ayla Rogers</li>
  <li>Louise Rosario</li>
  <li>Jose Saettone</li>
  <li>Max Shimamoto</li>
  <li>Unchong Son</li>
  <li>Katelyne Sonido</li>
  <li>Rangell Soriano</li>
  <li>Jennifer Stein</li>
  <li>Malissa Suson</li>
  <li>Kristine Sy</li>
  <li>Mitchell Tacata</li>
  <li>Kristopher Tamarra</li>
  <li>Jordan Tatum</li>
  <li>Doanh Tran</li>
  <li>Rhondel Venner</li>
  <li>Mary Villasin</li>
  <li>Conrado Walsh</li>
  <li>Jonathan Weindel</li>
  <li>Nick Weyrick</li>
  <li>Mandy Yan</li>
</ul>