        <div class="row">
          <div class="span4">
            <h2>Email</h2>
            <address>
              <a class="btn btn-primary btn-large" href="mailto:apo.uaa@gmail.com">
                <i class="icon-envelope icon-white"></i>
                apo.uaa@gmail.com
              </a>
            </address>
          </div>

          <div class="span4">
            <h2>Chapter Meetings</h2>
            7:00 pm Wednesdays<br>
            Rasmusson Hall, Room 220<br>
            UAA Campus
          </div>

          <div class="span4">
            <h2>Mailing Address</h2>
            <address>
              <strong>Alpha Phi Omega - Alpha Zeta Eta Chapter</strong><br>
              c/o UAA Club Council<br>
              3211 Providence Dr<br>
              Anchorage, AK 99508
            </address>
          </div>
        </div>

        <h2 id="members">Members</h2>
        <h3>Current and Past Officers</h3>

        <div class="row">
          <div class="span3">
            <h4>2012-2013 Officers:</h4>
            <table class="table table-bordered table-condensed table-hover">
              <thead>
                <tr><th>Position</th><th>Name</th></tr>
              </thead>
              <tr><td>President</td><td>Waianae Kahananui</td></tr>
              <tr><td>VP of Membership</td><td>Dawnielle Matias</td></tr>
              <tr><td>VP of Service</td><td>Stephanie Hsu</td></tr>
              <tr><td>VP of Fellowship</td><td>Blaine Higashi</td></tr>
              <tr><td>Sergeant at Arms</td><td>Janelle Sta Cruz <small>(Spring)</small></td></tr>
              <tr><td>Treasurer</td><td>Johnathon Beaumier</td></tr>
              <tr><td>Secretary</td><td>Janelle Sta Cruz</td></tr>
              <tr><td>Club Council Rep</td><td>Seen So <small>(Fall)</small><br>Johnathon Beaumier <small>(Spring)</small></td></tr>
              <tr><td>Historian</td><td>George Kariuki <small>(Fall)</small><br>Ana Saettone <small>(Spring)</small></td></tr>
              <tr><td>Pledgemaster</td><td>Louie Perez</td></tr>
            </table>
          </div>

          <div class="span3">
            <h4>2011-2012 Officers:</h4>
            <table class="table table-bordered table-condensed table-hover">
              <thead>
                <tr><th>Position</th><th>Name</th></tr>
              </thead>
              <tr><td>President</td><td>Louie Perez</td></tr>
              <tr><td>VP of Membership</td><td>Waianae Kahananui</td></tr>
              <tr><td>VP of Service</td><td>Johnathon Beaumier</td></tr>
              <tr><td>Secretary</td><td>Lena Petrova</td></tr>
              <tr><td>Treasurer</td><td>George Kariuki</td></tr>
              <tr><td>Club Council Rep</td><td>Mary Lola</td></tr>
              <tr><td>Historian</td><td>Janelle Sta Cruz</td></tr>
            </table>
          </div>

          <div class="span3">
            <h4>2010-2011 Officers:</h4>
            <table class="table table-bordered table-condensed table-hover">
              <thead>
                <tr><th>Position</th><th>Name</th></tr>
              </thead>
              <tr><td>President</td><td>Katelyn Sonido</td></tr>
              <tr><td>VP of Membership</td><td>Kristine Sy</td></tr>
              <tr><td>VP of Service</td><td>Louie Perez</td></tr>
              <tr><td>Historian</td><td>Kristine Sy</td></tr>
              <tr><td>Pledge Master</td><td>Jose Saettone</td></tr>
              <tr><td>Club Council Rep</td><td>Paul Huske</td></tr>
            </table>
          </div>

          <div class="span3">
            <h4>~2006 Officers:</h4>
            <table class="table table-bordered table-condensed table-hover">
              <thead>
                <tr><th>Position</th><th>Name</th></tr>
              </thead>
              <tr><td>President</td><td>Erin Koshiyama</td></tr>
              <tr><td>VP of Membership</td><td>Chris Lavarias</td></tr>
              <tr><td>VP of Service</td><td>Jonathan Weindel</td></tr>
              <tr><td>VP of Fellowship</td><td>John Laux</td></tr>
              <tr><td>Treasurer</td><td>Sarah Roberson</td></tr>
              <tr><td>Public Relations</td><td>Joel Ainsworth</td></tr>
              <tr><td>Secretary</td><td>Casey King</td></tr>
              <tr><td>Historian</td><td>Renee Francisco</td></tr>
              <tr><td>Sergeant at Arms</td><td>Carl Carr-Johnson</td></tr>
              <tr><td>Club Council Rep</td><td>Paul Huske</td></tr>
            </table>
          </div>
        </div>

        <div class="row">
          <div class="span5">
            <h3>Active Members</h3>
            <ul class="inline">
              <li>Waianae Kahananui</li>
              <li>Johnathon Beaumier</li>
              <li>Seen So</li>
              <li>Dawnielle Reichwein</li>
              <li>Blaine Higashi</li>
              <li>Janelle Sta Cruz</li>
              <li>Louie Perez</li>
              <li>George Kariuki</li>
              <li>Christina Soria</li>
              <li>Svetlana Koch</li>
              <li>John Lamont</li>
              <li>Ger Moua</li>
              <li>Ana Saettone</li>
              <li>Tony Vang</li>
              <li>Sunny So</li>
              <li>Drew Lemish</li>
              <li>Kasandra Miko-Saiki</li>
              <li>Taccara Jones</li>
            </ul>
          </div>

          <div class="span2">
            <h3>Advisors</h3>
            <ul class="inline">
              <li>Audrey Malone</li>
              <li>Lynda Hernandez</li>
              <li>Jose Saettone</li>
              <li>Kristine Sy</li>
              <li>Mallory Wetherington</li>
            </ul>
          </div>

          <div class="span5">
            <h3>Alumni</h3>
            <ul class="inline">
              <li>Jose Saettone</li>
              <li>Kristine Sy</li>
              <li>Jordan Tatum</li>
              <li>Katelyn Sonido</li>
              <li>Paul Huske</li>
              <li>Erin Koshiyama</li>
              <li>Chris Lavarias</li>
              <li>Jonathan Weindel</li>
              <li>John Laux</li>
              <li>Sarah Roberson</li>
              <li>Joel Ainsworth</li>
              <li>Casey King</li>
              <li>Renee Francisco</li>
              <li>Carl Carr-Johnson</li>
            </ul>
          </div>
        </div>