<div class="hero-unit main-hero">
  <h1>Upcoming Events</h1>
  <p>Do your part in the efforts of the fraternity!</p>
  <p><a href="/events/" class="btn btn-primary btn-large">Take a Look <i class="icon-arrow-right icon-white"></i></a></p>
</div>

<div class="row">
  <div class="span4">
    <h2>How to Join</h2>
    <p>See how you can become a member too!</p>
    <ul>
      <li><a href="/join#rush">Rush Week</a></li>
      <li><a href="/join#pledging">Pledging</a></li>
      <li><a href="/join#membership">Membership</a></li>
      <li><a href="/join#faqs">FAQs</a></li>
    </ul>
    <p><a class="btn" href="/join">View details &raquo;</a></p>
  </div>

  <div class="span4">
    <h2>Our Organization</h2>
    <p>Learn all about Alpha Phi Omega and our chapter at UAA!</p>
    <ul>
      <li><a href="/about#apo">Alpha Phi Omega</a></li>
      <li><a href="/about#principles">Cardinal Principles</a></li>
      <li><a href="/about#azh">Chapter History</a></li>
    </ul>
    <p><a class="btn" href="/about">View details &raquo;</a></p>
  </div>

  <div class="span4">
    <h2>Make a Donation</h2>
    <p>Support our non-profit organization by making a tax-deductable donation!</p>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="ZKQ5EWPMH8CEA">
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
  </div>
  
</div>

<p class="text-center">
  <br /><br />
  <img src="/assets/pin-icon-64.png" alt="APO Pin" style="">
  <br /><br />
</p>

<p class="muted">
  <small>
    <strong>National Disclaimer:</strong> This electronic document is intended for public viewing and is solely for personal reference. It should not be considered an authoritative source nor an official publication of Alpha Phi Omega. Inquiries regarding Alpha Phi Omega and its official publications may be directed to: Alpha Phi Omega, 14901 E. 42nd Street, Independence, MO, 64055 - USA. "Alpha Phi Omega" is a copyrighted, registered trademark in the USA. All rights reserved.
  </small>
</p>