<h2>Images</h2>

<br><ul class="nav nav-list">
  <li class="divider"></li>
</ul><br>

<h2>Videos</h2>
<ul>
  <li><a href="http://www.youtube.com/watch?v=zDk_vsdPuJs">Spring 2006</a></li>
  <li><a href="http://www.youtube.com/watch?v=RtJI0a7jzHY">Fall 2006</a></li>
  <li><a href="http://www.youtube.com/watch?v=syTsxamHPOg">After Chartering Events</a></li>
  <li><a href="http://www.youtube.com/watch?v=KEStFbEwuSs">2007 Regional Conference</a></li>
  <li><a href="http://www.youtube.com/watch?v=lmzkZ7CuiEM">2008 Spring Rush</a></li>
  <li><a href="http://www.youtube.com/watch?v=xag34TNMhpE">Recruiting Info</a></li>
</ul>

<br><ul class="nav nav-list">
  <li class="divider"></li>
</ul><br>

<h2>Documents</h2>
<div class="row">
  <div class="span8">
    <h3>From the National Office</h3>
    <div class="row">
      <div class="span4">
        <h4>General</h4>
        <ul>
          <li><a href="/">National Bylaws</a></li>
          <li><a href="/">APO Style Guide</a></li>
          <li><a href="/">Fraternity Operations and Policy Manual</a></li>
          <li><a href="/">Membership Policy</a></li>
          <li><a href="/">Memorial Ritual</a></li>
          <li><a href="/">Rededication Ceremony</a></li>
          <li><a href="/">990-N IRS Filing Information</a></li>
        </ul>
        <h4>Chapter Improvement</h4>
        <ul>
          <li><a href="/">Survival Guide for Small Chapters</a></li>
          <li><a href="/">Important Letter to Chapter Officers</a></li>
          <li><a href="/">Chapter Assessment & Planning Session Handbook</a></li>
          <li><a href="/">Retention Program</a></li>
          <li><a href="/">In Search of an Advisor</a></li>
          <li><a href="/">Conference Planning Guide</a></li>
          <li><a href="/">Growing Pains</a></li>
        </ul>
        <h4>Service</h4>
        <ul>
          <li><a href="/">Scouting Project Ideas</a></li>
          <li><a href="/">2012 National Service Week Handbook</a></li>
          <li><a href="/">Spring Youth Service Day Handbook</a></li>
        </ul>
      </div>
      <div class="span4">
        <h4>Recruiting</h4>
        <ul>
          <li><a href="/">Pledge Manual</a></li>
          <li><a href="/">National Pledging Standards</a></li>
          <li><a href="/">Q&A Booklet</a></li>
          <li><a href="/">An Opportunity for You</a></li>
          <li><a href="/">Leaving College with More than a Degree</a></li>
          <li><a href="/">Make Your College Life more Enjoyable</a></li>
        </ul>
        <h4>Workshops</h4>
        <ul>
          <li><a href="/">APO LEADS Brochure</a></li>
          <li><a href="/">Membership Academy Flier</a></li>
          <li><a href="/">Membership University Flier</a></li>
        </ul>
        <h4>Alumni</h4>
        <ul>
          <li><a href="/">Alumni Association Handbook</a></li>
          <li><a href="/">Society Of Life Members Brochure</a></li>
        </ul>
        <h4>Partner Organizations</h4>
        <ul>
          <li><a href="/">4H Fact Sheet</a></li>
          <li><a href="/">Boys and Girls Club of America Fact Sheet</a></li>
          <li><a href="/">Boys Scouts of America Fact Sheet</a></li>
          <li><a href="/">Camp Fire USA Fact Sheet</a></li>
          <li><a href="/">Girls Scouts of USA Fact Sheet</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="span4">
    <h3>From our Chapter</h3>
    <h4><a href="/bylaws">Chapter Bylaws</a></h4>
    <ul>
      <li><a href="/bylaws#name">Name</a></li>
      <li><a href="/bylaws#purpose">Purpose</a></li>
      <li><a href="/bylaws#membership">Membership</a></li>
      <li><a href="/bylaws#officers">Officers and Delagates</a></li>
      <li><a href="/bylaws#duties">Duties of Officers</a></li>
      <li><a href="/bylaws#advisors">Advisors</a></li>
      <li><a href="/bylaws#committees">Committees</a></li>
      <li><a href="/bylaws#business">Meetings and Chapter Business</a></li>
      <li><a href="/bylaws#elections">Elections</a></li>
      <li><a href="/bylaws#finance">Finance and Property</a></li>
      <li><a href="/bylaws#authority">Parliamentary Authority</a></li>
      <li><a href="/bylaws#discipline">Discipline</a></li>
      <li><a href="/bylaws#policies">Policies</a></li>
      <li><a href="/bylaws#amendments">Amendments</a></li>
      <li><a href="/bylaws#ratification">Ratification</a></li>
    </ul>
  </div>
</div>