html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
  /*padding-top: 60px;*/
}

/* Set the fixed height of the footer here */
#push,
footer {
  height: 60px;
}
footer {
  background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  h1 {
    font-size: 45px !important;
  }

  .hero-unit {
    padding-left: 8%;
    padding-right: 8%;
  }
}

#wrap .container {
  padding: 60px 0 20px 0;
}

@media (max-width: 979px) {
  #wrap .container {
    padding: 0 0 20px 0;
  }
}

footer .container {
  padding-top: 20px;
}

footer .container p {
  white-space: nowrap;
  overflow: hidden;
}

.main-hero {
  background: url('/assets/hero.jpg') no-repeat center #423732;
  color: #fff;
}

.side-kick {
  padding: 30px 0;
}

.text-center,
.side-kick h1 {
  text-align: center;
}

.section {
  margin-left: 3em;
}

/* Makes it so that jumping to an id tag with links does not put the element 
right at the top of the page, blocked by the fixed position nav bar */
h2:before,
#ChapterBylaws h3:before {
  display: block; 
  content: " "; 
  margin-top: -60px; 
  height: 60px; 
  visibility: hidden; 
}

/* This is to stabilize the structure of the officer tables so the transition
between tabs isn't so disorienting. The Height may need to be changed in the 
future. Set it to the height of the tabs when the content is the tallest */
#ContactUs .nav-tabs {
  height: 347px;
}
#ContactUs .tab-content td {
  width: 50%;
}